<%- include('functions.ejs') %>
<div class="auth">
    <img class="enemy--small" src="/scripts/game/img/coin.gif">
    <img class="enemy--small" src="/scripts/game/img/coin.gif">
    <img class="enemy--small" src="/scripts/game/img/coin.gif">
    <h1>Coin Hunter</h1>
    <% if(messages.error) { %>
        <%= messages.error %>
        <% } %>
        <form action="/" method="post">
            <label for="username">Username</label>
            <div >
                <input name="username" placeholder="Username" type="text" maxlength="16">
            </div>
            <label for="password">Password</label>
            <div class="container--relative">
                <input class="peek-password" name="password" id="password" placeholder="Password" type="password" class="password--peek">
                <i class="fa-solid fa-eye password-peek" onclick="peekPassword('password')" style="cursor: pointer;"></i>
            </div>
            <input type="submit" value="Login" class="button-link"></input>
            <a href="/auth/register" class="button-link outline">Register</a>
        </form>
</div>