<% if(locals.user != null) { %>
<nav>
    <a href="/">GAME NAME</a>
    <div class="user-nav">
        <img alt="avatar" class="avatar" src="/img/avatar_default_temp.png">
        <h4><%= user.username %></h4>
    </div>

    <ul>
        <li><a href="/user"><i class="fa-solid fa-user"></i>Profile</a></li>
        <li><a href="/"><i class="fa-solid fa-trophy"></i>Play</a></li>
        <li><a href="/shop"><i class="fa-solid fa-cart-shopping"></i>Shop</a></li>
        <li><a href="/forum"><i class="fa-solid fa-comments"></i>Forum</a></li>
        <li><a href="/catalog"><i class="fa-solid fa-users"></i>All users</a></li>
        <li><a href="/ranking"><i class="fa-solid fa-ranking-star"></i>Top 10</a></li>
        <li><a href="/report"><i class="fa-solid fa-circle-exclamation"></i>Report error</a></li>
        <li>
            <form action="/auth/logout?_method=DELETE" method="POST">
                <button type="submit">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Log Out
                </button>
            </form>
        </li>
    </ul>
</nav>
<% } %>