<!-- <div class="sticky-container-top">
    <h1 class="decorative big">Coin Hunter</h1>
</div> -->
<!-- <iframe src="https://io-coin-hunter.herokuapp.com/game/dino.html" title="Embed"></iframe> -->
<div class="game-container">
    <div id="container">
        <div id="modal"></div>
        <div class="gameOver">GAME OVER</div>
        <div class="countdown">PLAY</div>
        <div class="playAgain">PLAY AGAIN</div>
        <div class="hearths">
          <div class="hearth"></div>
          <div class="hearth"></div>
          <div class="hearth"></div>
        </div>
        <div class="distance">0</div>
        <div id="score">0</div>
        <div class="coinIcon"></div>
        <div id="hero"></div>
      </div>
</div>

<h3>Instructions</h3>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    Click on the game window to start playing
</div>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    Press <code>space</code> to jump
</div>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    Collect <i class="fa-solid fa-coins icon--gold--left icon--gold"></i>coins to earn money and buy items in the shop
</div>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    Avoid the <img src="/scripts/game/img/enemy.gif" class="enemy--small"> enemies!
</div>

<p class="decorative--color">Good luck!</p>

<script type="text/javascript" src="/scripts/game/variables.js"></script>
<script type="text/javascript" src="/scripts/game/classGame.js"></script>
<script type="text/javascript" src="/scripts/game/classPlayer.js"></script>
<script type="text/javascript" src="/scripts/game/classCoin.js"></script>
<script type="text/javascript" src="/scripts/game/classEnemy.js"></script>
<script type="text/javascript" src="/scripts/game/main.js"></script>