<% let results = {coins: 10, distance: 20} %> 
<main>
    <div class="sticky-container-top">
        <h1 class="decorative big">Coin Hunter</h1>
    </div>
    <iframe src="http://localhost:3000/game/dino.html" title="Embed"></iframe>
</main>
<script scr="/public/scripts/gameServerHandler.js"></script>