<main>
    <div class="user-info">
        <img alt="avatar" class="avatar" src="../../public/img/avatar_default_temp.png">
        <h1><% user.username %></h1>
    </div>
    
    <div class="user-stats">
        <p class="color-secondary">Playing since 27th August 2018</p>
        <button>New post</button>
    </div>
    
    <div class="posts-wrapper">
        <div class="create-post">
            <input type="text" class="input--big" placeholder="Post title">
            <textarea></textarea>
            <button>Save</button>
        </div>
    </div>
    
    
    
    
    <div class="posts-wrapper">
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        <div class="post">
            <h4>Post title</h4>
            <span class="color-secondary small">11th January 2019</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi aliquam qui est velit
                similique facere cumque, omnis assumenda, dolorum unde? Sunt voluptatem tempora hic nihil perspiciatis quae autem.
                Officia.
            </p>
        </div>
        
    </div>
</main>