@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
    --primary: #0A2239;
    --primaryDark: #041627;
    --primaryLight: #0F3457;
    --primaryLight200: #144472;
    --primaryLight300: #18548C;
    --primaryLight400: #1E68AE;
    
    --light: #FFFFFF;
    
    --secondary: #A0CFCD;
    --tertiary: #F97B77;
    --tertiaryDark: #F8544F;
    --tertiaryLight: hsl(2, 92%, 80%);
    --gold: #FB8B24;
    
    /* --fontRegular: 'Inter'; */
    --fontRegular: 'Roboto';
    --fontDecorative: 'VT323';
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    font-family: var(--fontRegular), sans-serif;
    color: var(--light);
    background-color: var(--primary);
}

.wrapper{
    display: flex;
    height: 100%;
    justify-content: center;
}


/* Side navigation */

nav{
    /* height: 100%; */
    flex-basis: 15%;
    background-color: var(--primaryDark);
    padding: 1.25rem 1rem 1.25rem 1.5rem;
    box-sizing: border-box;
}

nav > a{
    color: var(--secondary);
    margin: 2rem 0 0 0.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: var(--fontDecorative);
    font-size: 2rem;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}

nav > a:hover{
    border-bottom: 1px solid var(--secondary);
}

nav ul{
    list-style: none;
    padding: 0;
    text-align: left;
}

nav ul li a{
    color: var(--secondary);
    /* font-size: 1.2rem; */
    font-weight: 600;
    /* width: 100%; */
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid transparent;
    border-radius: 1rem;
}

nav ul li i{
    margin-right: 1.25rem;
    font-size: 1rem;
    width: 1rem;
}

nav h4{
    margin: 1rem;
    margin-bottom: 0.5rem;
}

nav h5{
    margin: 1rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

nav img{
    height: 3.5rem;
    width: 3.5rem;
    transition: all 0.5s;
}

nav img:hover{
    box-shadow: 0px 0px 5px 1px var(--secondary);
}

nav .user-nav{
    margin: 3rem 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-right: 0;
}

.user-nav h5{
    margin-right: 0;
}

.avatar{
    border-radius: 10rem;
    border: 3px solid var(--secondary);
    box-shadow: 0px 0px 5px 0px var(--primaryDark);
}

nav ul li a.selected, 
nav ul li a:hover{
    background-color: var(--primaryLight);
    color: var(--tertiary);
    border: 1px solid var(--primaryLight300);
}

nav button{
    background: none;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

/* Content area */

main{
    flex-basis: 85%;
    text-align: center;
    overflow-y: auto;
    padding: 0 0.5rem 1rem 0.5rem;
}

.user-info{
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--primary);
    padding: 1.5rem;
    margin-top: 3rem;
}

.user-info p {
    margin: 0;
    margin-top: 0.5rem;
}

.user-stats{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.user-stats div{
    flex: 1;
}

.posts-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-wrapper a {
    color: var(--secondary);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.posts-wrapper a:hover{
    color: var(--light);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.posts-wrapper form{
    width: 55%;
    margin: 1rem;
    box-sizing: border-box;
    text-align: left;
}

.gradient .post:nth-of-type(1){
    background-color: var(--primaryLight400);
}

.gradient .post:nth-of-type(2){
    background-color: var(--primaryLight300);
}

.gradient .post:nth-of-type(3){
    background-color: var(--primaryLight200);
}

.width--30{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.post{
    background-color: var(--primaryLight);
    border-radius: 1rem;
    padding: 1.75rem;
    margin: 0.5rem;
    width: 55%;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid var(--primaryLight300);
    /* background: linear-gradient(0deg, var(--primaryLight) 0%, var(--primaryLight200) 100%); */
    box-shadow: 0px 0px 10px 2px var(--primaryDark);
    
}

.post-date{
    float: right;
}

.content-format{
    white-space: pre-wrap;
    word-break: break-word;
}

.title-format{
    overflow: hidden;
}

.create-post{
    width: 55%;
}


/* Typography */

h1{
    font-size: 4rem;
    margin-top: 0;
    font-family: var(--fontDecorative);
    font-weight: 400;
}

.sticky-container-top{
    top: 0;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: sticky;
    background-color: var(--primary);
    /* box-shadow: 0px 0px 10px 2px var(--primaryDark);
    border-bottom: 1px solid var(--primaryDark); */
    box-sizing: border-box;
}

.sticky-container-top h1,
.forum-header h1{
    margin-bottom: 0;
}

.inline-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 1rem;
}

.inline-input-container button{
    display: inline;
    flex: 1;
    margin: 0;
    margin-left: 1rem;
}

.inline-input-container input{
    display: inline;
    margin: 0;
    flex: 4;
}

.forum-header{
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.sticky-container-top-forum{
    top: 0;
    position: sticky;
    background-color: var(--primary);
    box-sizing: border-box;
}

.user-info h1{
    margin: 0;
    margin-top: 1rem;
}

.decorative--color {
    font-family: var(--fontDecorative);
    font-size: 1.5rem;
    color: var(--tertiary);
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}


h4{
    font-size: 1.1rem;
    font-weight: 700;
}

.post h4{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    left: 0;
}


.post p{
    margin: 1rem 0 0 0;
}

.post a,
.link--styled {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
    transition: all 0.5s;
    border-bottom: 1px solid transparent;
}

.post a:hover,
.link--styled:hover{
    color: var(--light);
    border-bottom: 1px solid var(--secondary);
}

.color-light{
    color: var(--light);
}


.color-secondary{
    color: var(--secondary);
}

.highlighted{
    background-color: var(--primaryLight);
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    display: inline-block;
    color: var(--tertiary);
    border: 1px solid var(--primaryLight300);
    box-shadow: 0px 0px 10px 2px var(--primaryDark);
}

.highlighted-color{
    background-color: var(--primaryLight);
    padding: 1.5rem;
    margin: 0 0.5rem;
    border-radius: 1rem;
    display: inline-block;
    color: var(--light);
    border: 1px solid var(--primaryLight400);
    box-shadow: 0px 0px 10px 2px var(--primaryDark);
}

.highlighted-color h3{
    margin: 0.2rem;
    font-weight: 800;
    font-size: 1.5rem;
}

.highlighted-color p{
    margin: 0;
    font-weight: 800;
    color: var(--secondary);
}

.highlighted-copy{
    display: inline-block;
    font-size: 1.75rem;
    color: var(--primaryLight300);
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 1rem;
}

.highlighted-copy:hover{
    color: var(--secondary);
}

.highlighted-copy-notif{
    display: none;
    position: relative;
    background-color: var(--primaryLight400);
    border-radius: 1rem;
    font-size: 0.9rem;
    color: var(--light);
    padding: 0.5rem 1rem;
    width: 10rem;
    margin: 0 auto;
    animation-name: FadeIn;
    animation-duration: 0.5s;
    transition-timing-function: linear;
}

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.small-width{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.margin-top{
    margin-top: 2rem;
}

.block{
    display: block;
}


/* Elements */

button,
.button-link{
    outline: none;
    text-decoration: none;
    border: 1px solid var(--tertiaryLight);
    background-color: var(--tertiary);
    color: var(--light);
    padding: 0.65rem 2.5rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    transition: all 0.5s;
    display: block;
    margin: 1rem auto;
    width: 9rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 1px var(--primaryDark);
}

button:hover,
.button-link:hover{
    background-color: var(--tertiaryDark);
}

.outline{
    background: none;
}

.align-right{
    margin-right: 0;
}

.input--big{
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1.1rem;
    width: 70%;
}

input{
    background-color: var(--primaryLight);
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    color: var(--light);
    transition: all 0.35s;
    font-family: var(--fontRegular);
    border: 1px solid var(--primaryLight300);
    outline: 1px solid transparent;
    box-shadow: 0px 0px 10px 2px var(--primaryDark);
    width: 14rem;
    box-sizing: border-box;
}


textarea{
    width: 100%;
    height: 8rem;
    margin: 1rem 0rem;
    background-color: var(--primaryLight);
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    color: var(--secondary);
    resize: none;
    font-family: var(--fontRegular);
    box-sizing: border-box;
    transition: all 0.35s;
    border: 1px solid var(--primaryLight300);
    outline: 1px solid transparent;
    box-shadow: 0px 0px 10px 2px var(--primaryDark);
}

textarea:focus,
input:focus{
    outline: 1px solid var(--primaryLight300);
}

label {
    font-weight: 600;
    font-size: 0.85rem;
}
/* 
.search::after{
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
} */

.posts-wrapper input,
.posts-wrapper textarea{
    display: block;
}

.post img{
    /* width: 1.5rem;
    height: 1.5rem; */
    margin-right: 0.5rem
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    var(--primaryLight400);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    var(--primaryLight400);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    var(--primaryLight400);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    var(--primaryLight400);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    var(--primaryLight400);
}

::placeholder { /* Most modern browsers support this now. */
   color:    var(--primaryLight400);
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}


.card{
    flex-basis: 15%;
    text-decoration: none;
    color: var(--light);
    background-color: var(--primaryLight);
    padding: 1rem 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: all 0.5s;
    border: 1px solid var(--primaryLight300);
    /* background: linear-gradient(0deg, var(--primaryLight) 0%, var(--primaryLight200) 100%); */
    box-shadow: 0px 0px 10px 2px var(--primaryDark);
}

.card.selectable{
    cursor: pointer;
}

.card.selectable:hover{
    background-color: var(--primaryLight200);
    border-color: var(--primaryLight400);
}

.card .avi{
    width: 2.5rem;
    height: 2.5rem;
}

.card h3{
    margin: 0.25rem 0;
    font-size: 1.1rem;
}

.card .small{
    margin: 0.1rem;
    font-size: 0.9rem;
}

.avi--big{
    width: 10rem;
    height: 10rem;
}



.avi-card{
    flex-basis: 10%;
    margin: 1rem;
}

.avi-card h3{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.avi-card i,
.icon--gold,
.game-instruction .icon--gold{
    color: var(--gold);
    margin-right: 0.5rem;
}

.enemy--small{
    width: 1.5rem;
    height: 1.5rem;
}

.icon--gold--left{
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.avi-card p{
    font-weight: 600;
    color: var(--secondary);
    margin-top: 1.2rem;
}

button[disabled="true"],
.button-link[disabled="true"]{
    background-color: var(--primaryLight200);
    border: 2px solid var(--primaryLight400);
    color: var(--primaryLight400);
    cursor: default;
    pointer-events: none;
}

.ranking-section{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 35%;
}

.ranking-section h3{
    margin: 0.5rem;
}

.ranking-section a:hover{
    color: var(--light);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.ranking-section a {
    color: var(--secondary);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.card--small{
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ranking{
    display: flex;
    align-items: center;
}

.no-marg{
    margin: 0;
}

.card--small h4{
    display: inline-block;
    margin: 0.5rem;
}

.card--small .avi{
    width: 2rem;
    height: 2rem;
}

.page-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-center img,
.img--medium{
    width: 8rem;
    height: 8rem;
}

.img--small{
    width: 2rem;
    height: 2rem;
}

.img--small.img--small--pad{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
}

.game-container{
    width: 800px;
    height: 400px;
    overflow: hidden;
    outline: none;
    border: 2px solid var(--primaryLight200);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px var(--primaryDark);
    margin: 3rem auto 0 auto;
}

.color-tertiary{
    color: var(--tertiary);
}

.game-instruction i {
    margin-right: 0.5rem;
    color: var(--tertiary);
}

.game-instruction {
    color: var(--secondary);
    margin: 1.5rem;
}

code{
    font-size: 1rem;
    background-color: var(--primaryLight);
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--primaryLight300);
    margin: 0.25rem;
}

.auth{
    margin: 10% auto;
}

.auth h1{
    margin: 1rem;
}

.auth input{
    margin: 0.5rem auto;
}

.container--relative{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

input.password--peek{
    padding-right: 3rem;
}

.password-peek{
    color: var(--primaryLight400);
    position: absolute;
    top: 1.25rem;
    right: 0.75rem;
    transition: all 0.5s;
    cursor: pointer;
}

.password-peek:hover{
    color: var(--secondary);
}

.error-msg{
    border: 1px solid var(--tertiary);
    width: 12rem;
    padding: 0.75rem 1.5rem;
    margin: 1rem auto;
    font-weight: 600;
    border-radius: 1rem;
}

.error-msg i{
    margin-right: 0.5rem;
    color: var(--tertiary);
}

.card--small .avi--ranking{
    margin-left: 0.5rem;
    margin-right: 0.75rem;
}

.card--small:first-of-type .avi--ranking{
    margin-left: 0.2rem;
}

@media only screen and (min-width: 2000px) {
    nav {
      flex-basis: 10%;
    }
    
    main {
        flex-basis: 90%;
    }
    
    .user-stats{
        width: 25%;
    }
}

@media only screen and (min-width: 1600px) {
    .posts-wrapper.shrink{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    
}

@media only screen and (max-width: 1300px) {
    nav {
        position: relative;
        flex-basis: 5%;
        padding: 1rem;
    }
    
    nav .user-nav{
        margin: 2rem 0 1rem 0.5rem;
    }
    
    .user-nav-info{
        display: none;
    }
    
    nav a {
        font-size: 1rem;
    }
    
    nav img {
        width: 2rem;
        height: 2rem;
        margin: 0;
    }
    
    nav ul li button{
        padding: 0.75rem 1rem;
        text-align: center;
        width: auto;
    }
    
    nav ul li a > *:not(i),
    nav ul li button > *:not(i) {
        display: none;
    }
    
    nav ul li i {
        margin: 0;
    }
    
    main {
        flex-basis: 95%;
    }
}