<main>
    <h1>Report error</h1>
    <p class="small-width">If you came across an error on our website, you can report it by sending us an email
        to the following address, or by filling out the form below.</p>
        
    <p class="highlighted">reports@gamedomain.com</p>
    <p class="highlighted-copy"><i class="fa-solid fa-copy"></i></p>
    
    <h3>Error report form</h3>
    <p>Please describe the error you encountered in the text box below.</p>
    
    <div class="small-width margin-top">
        <label for="error-input">Description</label>
        <textarea name="error-input" placeholder="Start typing here..."></textarea>
    </div>
    
    <button>Send</button>
</main>