<div class="sticky-container-top">
    <h1>Forum rules</h1>
    <a href="/forum" class="link--styled">Back to forum</a>
</div>

<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    No spam / Advertising / Self promoting
</div>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    No copyright infringing material
</div>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    No offensive or shocking content
</div>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    No illegal content
</div>
<div class="game-instruction">
    <i class="fa-solid fa-arrow-right"></i>
    Remain respectful to other users
</div>

<strong class="color-tertiary">The owners of this website reserve the right to remove any posts that break any of the rules mentioned above.</strong>